@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
}

.container {
  min-height: 100%;
  background-color: #C6E7CE;
}

.component {
  display: block;
}

.main {
  overflow:auto;
  padding-bottom: 60px;
}

.logo {
  width: 35px;
  margin: 5px 0 0 20px;
}

.title {
  padding: 20px 0 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #009A31;
  span {
    font-size: 55px;
  }
}

@media screen and (max-width: 840px) {
  .main {
    overflow:auto;
    padding-bottom: 30px;
  }

  .logo {
    width: 30px;
    margin: 5px 0 0 14px;
  }

  .title {
    padding: 10px 0 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #009A31;
    span {
      font-size: 42px;
    }
  }

}