<div ng-controller="HomeController as home">
  <div class="component">
    <div class="search-background">
      <h2 class="search-description">Search For The Freshest<br/>Vegetarian And Vegan Options</h2>
      <div class="search-container">
        <input class="search-box" type="text" name="location">
        <button class="btn" ng-click="home.fetchResults()">Find</button>
        <button class="btn-location" ng-click="home.getLocation()"><img class="location-icon" src="../../img/my_location.svg"></button>
      </div>
    </div>
    <div class="results">
      <div class="result" ng-repeat="location in home.results">
        {{ location.name }}<br>
        {{ location.price_level }}<br>
        {{ location.rating }}<br>
        {{ location.types[0] }}<br>
        {{ location.vicinity }}<br>
      </div>
    </div>
  </div>
</div>